.head{
	background-color: lightgrey;
	border: solid 1px;
	font-size: 150%;
	width: 100%;
}

.modal-outer{
	background-color: rgba(0,0,0,0.4);;
	display: none;
	height: 100%;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.modal-inner{
	background-color: white;
	margin: 15% auto;
	padding: 20px;
	width: 80%;
}

.link{
	color: red;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}